.flex-cols {
  display: flex;
  flex-direction: row;
}

.flex-centered {
  align-items: center;
  justify-content: space-evenly;
}

.center-contents {
  display: flex;
  justify-content: center;
  align-items: center;
}