html, body, #app {
    margin: 0;
    width: 100%;
    height: 100%;
    font-size: min(24px, 4vh);
}

#app {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    overflow: hidden;
    background-image: url('../assets/45-degree-fabric-light.png');
    background-color: #424242;

    @media (max-aspect-ratio: 1500/900) {
        flex-direction: column;
    }

    &> * {
        background-color: #464646;
        aspect-ratio: 1500/900;
    }
}

html, textarea, input, button {
    font-family: monospace;

    background-color: #1e1e1e;
    color: white;

    & a:link {
        color: lightskyblue;
    }

    & a:visited {
        color: #a871da;
    }

    & a:hover {
        color: #ffffff;
    }

    & a:active {
        color: #ff4040;
        text-decoration: none;
        font-weight: normal;
    }
}

button {
    cursor: pointer;
    font-size: 1rem;
    &:hover {
        background-color: #475657;
    }
}